# Cache objects
packer_cache/

# Crash log
crash.log

# https://www.packer.io/guides/hcl/variables
# Exclude all .pkrvars.hcl files, which are likely to contain sensitive data, 
# such as password, private keys, and other secrets. These should not be part of 
# version control as they are data points which are potentially sensitive and 
# subject to change depending on the environment.
#
*.pkrvars.hcl

# For built boxes
*.box

# Terraform state and variables
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Ansible sensitive files
inventory/
ansible.cfg
secret*.yml
secrets.yml
*.vault

# General secrets and credentials
*.pem
*.key
*.cred
credentials.json

# Local config & logs
*.log
.DS_Store
